PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://username:password@host:5432/inhouse_maker
REDIS_URL=redis://host:6379

JWT_ACCESS_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=30d

RIOT_APP_ID=819967
RIOT_API_KEY=replace_me
RIOT_ACCOUNT_REGION=asia
RIOT_PLATFORM_REGION=kr
RIOT_SYNC_MAX_RETRIES=5
RIOT_SYNC_BACKOFF_MS=2000
APPLE_CLIENT_ID=com.hwb.InhouseIOS
APPLE_AUDIENCE=replace_me
GOOGLE_CLIENT_ID=742162085445-gfk77jd6n7ue8i1nln6ish1kbnne00oo.apps.googleusercontent.com
GOOGLE_AUDIENCE=replace_me

ALLOW_SWAGGER=true
